@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap");

:root {
  --color-orange: #f15025;
  --color-grey: #afafaf;
  --color-black: #222;
  --color-white-1: #fff;
  --color-white-2: #f7f7f7;
  --letter-spacing: 0.2rem;
  --transition: all 0.3s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Fira Code", monospace;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

.title {
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  margin: 4rem auto 3rem;
}

.cards {
}

.cards-center {
  width: 80vw;
  margin: 0 auto;
}

.cards-grid {
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 3rem;
}

.card {
  border: 1px solid var(--color-grey);
}

.card-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-cover {
}

.content {
  margin: 1rem;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 1rem;
  letter-spacing: var(--letter-spacing);
  font-size: 1.3rem;
}

.card-text {
  font-size: 0.85rem;
  line-height: 2;
  font-weight: 300;
}

.card-icons {
  display: grid;
  height: 40px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  background: var(--color-grey);
  align-self: flex-end;
}

.card-icon {
  color: var(--color-orange);
}

.btn {
  margin: 15rem 4rem 4rem;
}

.home-btn {
  border: 3px solid var(--color-orange);
  text-decoration: none;
  color: var(--color-orange);
  padding: 0.7rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  /* letter-spacing: var(--letter-spacing); */
  font-size: 1.1rem;
}

.home-btn:hover {
  background: var(--color-orange);
  color: var(--color-white-1);
}
