@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --color-orange: #f15025;
  --color-grey: #afafaf;
  --color-black: #222;
  --color-white-1: #fff;
  --color-white-2: #f7f7f7;
  --letter-spacing: 0.2rem;
  --transition: all 0.3s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Fira Code", monospace;
}

img {
  width: 100%;
  /* height: 100%; */
}

h1 {
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  margin: 10rem 3rem 4rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1.5;
}

.pictures-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}

.title {
  margin-bottom: 3rem;
  font-size: 2.3rem;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 2rem;
}

.home-btn {
  border: 3px solid var(--color-orange);
  color: var(--color-orange);
  padding: 0.8rem 1rem;
  transition: var(--transition);
}
.home-btn:hover {
  background: var(--color-orange);
  color: var(--color-white-1);
}

@media screen and (min-width: 1170px) {
  .imgs {
    /* grid-template-columns: repeat(4, 268px); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    /* justify-items: stretch; */
    /* align-items: stretch; */
    grid-template-areas: "a a a b" "a a a c" "d d d d" "e f f f" "e g h i";
  }
  .img {
    height: 100%;
    object-fit: cover;
  }

  #img-1 {
    grid-area: a;
  }

  #img-2 {
    grid-area: b;
  }

  #img-3 {
    grid-area: c;
  }

  #img-4 {
    grid-area: d;
  }

  #img-5 {
    grid-area: e;
  }

  #img-6 {
    grid-area: f;
  }

  #img-7 {
    grid-area: g;
  }

  #img-8 {
    grid-area: h;
  }

  #img-9 {
    grid-area: i;
  }
}
